h1 {
    color: Green;
    background-color: HoneyDew;
}

p {
    background-color: HoneyDew;
}

ul {
    background-color: HoneyDew;
}

strong {
    color: Teal;
    background-color: LemonChiffon;
}

a {
    color: Teal;
}